﻿.item{
    border-top:1px solid #000000;
    padding:15px;
    position:relative;
    min-height:50px;
    border-bottom:5px;
}

.item_avatar{
    position:absolute;
    top:15px;
    left:15px;
    text-align:right;
    width:60px;
}

.item_from{
    font-size:15px;
}

.item_question{
    margin-top:6px;
    font-weight:600;
    color:#000000;
    font-size:16px;
}

.item_answear{
    font-size:14px;
    color:#808080;
    margin-top:7px;
    line-height:1.5;
}