﻿#Header {
    float:left;
    width: 79%;
    height: 600px;
    background: url(../images/MainAskPicture.jpg);
    background-size:cover;
}

body {
    border-top: 10px solid #d82323;
    margin:0px;
}

#Text{
    margin: -20px 0 0;
    text-align:center;
}

#SmallText {
    color: #3f0b0b;
    margin: 0 0 3px 1px;
    font-size: 15px;
    font-family: 'Book Antiqua';
}

#Right {
    width:20%;
    float:right;
}

.RightColoumn {
    background:#808080;
    margin: 30px 0  20px;
    padding: 25px;
    border-radius: 10px;
}

#RegisterButton{
    width:100%;
    padding-right:3px;
    padding-left:3px;
    background-color:#ff0000;
    line-height:30px;
    font-size:15px;
    color:#ffffff;
}

#Enterbutton{
    width:100px;
    font-size:15px;
    line-height:20px;
    color:#000000;
}

input{
    font-size:14px;
    padding:6px 12px 8px;
    box-sizing:border-box;
    margin-bottom:15px;
    border-radius:5px;
}

.Lines {
    margin: 15px;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 2px;
    position:center;
}