<div class="container" style="margin-top: 20px;">
    <form #shoppingForm="ngForm">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" ngModel class="form-control" required>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="amount">Amount</label>
                    <input type="number" name="amount" ngModel min="1" step="1" class="form-control" required>
                </div>
            </div>
        </div>
        <button style="margin-left:10px;" type="submit" class="btn btn-success" (click)="add(shoppingForm)" [disabled] = "!shoppingForm.valid">
                Add
            </button>
            <button style="margin-left:10px;" type="button" class="btn btn-danger" (click)="delete(shoppingForm)" [disabled] = "!checkIfAnyIngred(shoppingForm)">
                Delete
            </button>
            <button style="margin-left:10px;" type="button" class="btn btn-primary" (click)="clear(shoppingForm)">
                Clear
            </button>
    </form>

    <div style="margin-top: 25px;">
        <div class="list-group" *ngFor="let ingredient of ingredients | async; let i = index">
            <button type="button" class="list-group-item list-group-item-action" (click)="fillFields(shoppingForm, ingredient)" >
                {{ingredient.name}} ({{ingredient.amount}})
            </button>
        </div>
    </div>

</div>