  <button type="button" class="btn btn-success" [routerLink]='["new"]'>
    New Recipe
  </button>

  <div *ngFor="let recipe of recipes | async">
    <a routerLink="{{recipe.id}}" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="media">
        <div class="media-body">
          <h4 class="media heading">{{recipe.name}}</h4>
          <p>{{recipe.description}}</p>
        </div>
        <div class="media-right">
          <img src="{{recipe.image}}" width="60px;">
        </div>
      </div>
    </a>
  </div>
<router-outlet>
</router-outlet>