﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/Styles/Main.css" type="text/css" runat="server" />
    <title></title>
</head>
<body>
    <section id="Right">
        <div class="RightColoumn">
            <form name="Logging" method="post" >
                <input type="text" name="Login" placeholder="Логин или e-mail" value="" required />
                <br />
                <input type="password" name="password" placeholder="Пароль" value="" required />
                <br />
                <input type="hidden" name="operation" value="enter" />
                <button id="Enterbutton">Войти</button>
            </form>
        </div>
        <div class="RightColoumn">
            <div id="Text"><h2>Все ещё не с нами?</h2><p style="font-size:20px;">Присоединяйся!</p></div>
            <form method="post">
                <input type="text" name="login" placeholder="Ваш Логин" value="" required />
                <br />
                <input type="email" name="email" placeholder="Ваш e-mail" value="" required />
                <br />
                <input type="password" name="password" placeholder="Придумайте пароль" value="" required />
                <br />
                <input type="hidden" name="operation" value="registration" />
                <button id="RegisterButton">Зарегистрироваться</button>
            </form>
        </div>
    </section>

    <section>
        <header id="Header">
            <div>
                <div class="Lines" id="Text">
                    <h1>Добро пожаловать</h1>
                    <p>Задавайте вопросы анонимно и публично. Открывайте новые грани общения, <br /> узнавайте больше о старых знакомых и находите новых.</p>
                </div>
            </div>
        </header>
    </section>

</body>
</html>
