﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/Styles/MainPageStyle.css" />
    <title>@Model.Login</title>
</head>
<body>
    <div id="Top">
        <form action="" method="post">
            <button id="AskButton" style="margin-left:150px; position:relative; padding:5px;" formaction="http://localhost:8080/" name="Main">Главная</button>
            <button id="AskButton" style="margin-left:210px; position:relative;" formaction="http://localhost:8080/" name="Exit">Выход</button>
            <input type="hidden" name="operation" value="topButtons" />
        </form>
    </div>
    <div id="MainPart">
        <div id="left">
            <img src="@Model.ImagePath" width="300" height="300" />
            <form action="/" method="post">
                <input type="hidden" name="operation" value="search" />
                <button style="padding-top:10px;" id="SettingsButton">Поиск</button>
            </form>
            <div id="AskTextForm">
                @{
                    foreach (Sprashivai.ru.DataModel.UserInfo userinfo in @Model.UserInfo)
                    {
                        <br />
                        @userinfo.Age <br />
                        @userinfo.FirstName <br />
                        @userinfo.SecondName <br />
                    }
                }
            </div>
        </div>
        <!--<div id="right">
            zxc
        </div>-->
        <div id="aboveCenter">
            <div id="AskForm" style="border:0">
                <p>
                    <a href="http://localhost:8080/@Model.Login">
                        <h4>@Model.Login</h4>
                    </a>
                </p>
                <h4>@Model.Status</h4>
            </div>
            <form name="AskAre" action="/" method="post">
                <input type="hidden" name="operation" value="ask" />
                <div id="AskForm">
                    <div id="AskFormTop">
                        <textarea id="AskTextForm" name="input" placeholder="Напиши свой вопрос" style="height:80px;"></textarea>
                    </div>
                    <div id="AskFormBottom">
                        <div id="LeftBottom">
                            <input id="CheckBox" type="checkbox" name="checkbox" />  Анонимно
                        </div>
                        <div id="RightBottom">
                            <button id="AskButton">Спросить</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>




        <div id="Center">
            <div class="item_Text">
                Ответы пользователя:@Model.Count
            </div>

            @{
                foreach (Sprashivai.ru.DataModel.TemporaryClass userInfo in @Model.Questions)
                {
                    <div class="item">
                        <input type="hidden" name="QuestionId" value="@userInfo.IdQA" />
                        <div class="item_avatar">
                            @{
                                if (userInfo.FromLogin != "Anonymous")
                                {
                                    <img src="@userInfo.ImagePath" width="60" height="60" />
                                }
                                else
                                {
                                    <img src="~/static/images/MainAskPicture.jpg" width="60" height="60" />
                                }
                            }
                        </div>
                        <div class="item_content">
                            <div class="item_from">
                                ОТ
                                <a href="http://localhost:8080/@userInfo.FromLogin">
                                    @userInfo.FromLogin
                                </a>
                            </div>
                            <div class="item_question">
                                @userInfo.Question
                            </div>
                            <div class="item_answear">
                                @userInfo.Answear
                            </div>
                        </div>
                    </div>
                }
            }


        </div>
    </div>
</body>
</html>

