﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/Styles/MainPageStyle.css" />
    <script type="text/javascript" src="~/static/js/jquery-3.2.1.min.js"></script>
    <title>Главная</title>
</head>
<body>
    <div id="Top">
        <form action="/" method="post">
            <button id="AskButton" style="margin-left:150px; position:relative; padding:5px;" name="Main">Главная</button>
            <button id="AskButton" style="margin-left:210px; position:relative;" formaction="http://localhost:8080/" name="Exit">Выход</button>
            <input type="hidden" name="operation" value="topButtons" />
        </form>
    </div>
    <div id="MainPart">
        <div id="left">
            <img src="@Model.ImagePath" width="300" height="300" />
            
            <form action="" method="post">
                <input style="padding-top:10px;" type="hidden" name="operation" value="settings" />
                <button id="SettingsButton">Настройки</button>
            </form>
            <form action="/" method="post">
                <input type="hidden" name="operation" value="search" />
                <button id="SettingsButton">Поиск</button>
            </form>
            <div id="AskTextForm">
                @{
                    foreach (Sprashivai.ru.DataModel.UserInfo userinfo in @Model.UserInfo)
                    {
                        @userinfo.Age <br />
                        @userinfo.FirstName <br />
                        @userinfo.SecondName <br />
                    }
                }
            </div>
        </div>
        <div id="aboveCenter">
            <div id="AskForm" style="border:0; padding-bottom:5%;">
                <p>
                    <a href="http://localhost:8080/@Model.Login">
                        <h4>@Model.Login</h4>
                    </a>

                </p>
                <div class="dropdown">
                    <div class="dropdown-content">
                        <form method="post">
                            <meta charset="utf-8" />
                            <textarea style="padding:2px;font-size:15px;" type="text" height="50" name="status" value="">@Model.Status</textarea>
                            <input type="hidden" name="status" value="change" />
                            <button id="AskButton">Изменить</button>
                        </form>
                    </div>
                    <h4>@Model.Status</h4>

                </div>

            </div>


        </div>
        <div id="Center">
            <div class="item_Text">
                Вопросы пользователю:@Model.Count
            </div>

            @{
                foreach (Sprashivai.ru.DataModel.TemporaryClass userInfo in @Model.Questions)
                {
                    <form method="post" name="Link">
                        <div class="item">
                            <input type="hidden" name="QuestionId" value="@userInfo.IdQA" />
                            <div class="item_avatar">
                                @{
                                    if (userInfo.FromLogin != "Anonymous")
                                    {
                                        <img src="@userInfo.ImagePath" width="60" height="60" />
                                    }
                                    else
                                    {
                                        <img src="~/static/images/MainAskPicture.jpg" width="60" height="60" />
                                    }
                                }
                            </div>
                            <div class="item_content">
                                <div class="item_from">
                                    ОТ
                                    <a href="http://localhost:8080/@userInfo.FromLogin">
                                        @userInfo.FromLogin
                                    </a>
                                </div>

                                <div class="item_question">
                                    @userInfo.Question
                                </div>

                                <div class="item_answear">
                                    @if (userInfo.Answear == null)
                                    {
                                        <div>
                                            <textarea class="item_addAnswear" type="text" name="addAnswear" placeholder="Ответить"></textarea>
                                        </div>
                                        <div id="AskFormBottom">
                                            <button id="AskButton">Ответить</button>
                                        </div>

                                    }
                                    @userInfo.Answear
                                </div>
                            </div>
                        </div>
                    </form>
                                    }
            }
        </div>
    </div>
</body>
</html>
