﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/Styles/Main.css" type="text/css" />
    <title>Настройки</title>
</head>
<body>
    <section id="Right">
        <div class="RightColoumn">
            <form name="changeSettings" method="post" enctype="multipart/form-data">
                <br />
                <input type="text" name="firstName" placeholder="Введите Ваше имя" value="" />
                <br />
                <input type="text" name="secondName" placeholder="Введите Вашу фамилию" value="" />
                <br />
                <div id="SmallText">Дата рождения</div>
                <input type="date" name="name" placeholder="Дата" value="" />
                <br />
                <div id="SmallText">Выберите ваше изображение</div>
                <input style="padding:0" type="file" accept="image/*" name="Photo" value="" placeholder="Выберите ваше изображение" />
                <br />
                <input type="hidden" name="operation" value="changeSettings" />
                <button id="RegisterButton">Изменить</button>
            </form>
        </div>
    </section>
    <section>
        <header id="Header"></header>
    </section>
</body>
</html>