<div class="container">
  <h3>
    Login Page
  </h3>
  <form #loginForm="ngForm" (ngSubmit)="authenticate(loginForm)">
    <div class="form-group">
      <label for="username">User Name</label>
      <input type="text" class="form-control" [(ngModel)]="loginModel.username" name="username" placeholder="Enter username" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" [(ngModel)]="loginModel.password" placeholder="Password" required>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Submit</button>
    <div class="form-group text-danger" *ngIf="errorMessage != null">
      {{errorMessage}}
    </div>
  </form>
</div>

<pre>
  {{loginModel | json}}
</pre>