﻿@model Sprashivai.Models.ViewModels.AccountPageViewModel
@{
    ViewData["Title"] = "GuestPage";
}

<h2>GuestPage</h2>

<div id="Top">
    <button id="AskButton" style="margin-left:150px; position:relative; padding:5px;" formaction="@this.Url.Action("index", new { login = Model.Login })" name="Main">Главная</button>
    <button id="AskButton" style="margin-left:210px; position:relative;" formaction="@this.Url.Action("Logout")" name="Exit">Выход</button>
    <input type="hidden" name="operation" value="topButtons" />
</div>
<div id="MainPart">
    <div id="left">
        <img src="@Model.ImagePath" width="300" height="300" />
        <form action="/" method="post">
            <input type="hidden" name="operation" value="search" />
            <button style="padding-top:10px;" id="SettingsButton">Поиск</button>
        </form>
        <div id="AskTextForm">
            @{

                <br />
                @Model.UserInfo.Age <br />
                @Model.UserInfo.FirstName <br />
                @Model.UserInfo.SecondName <br />
            }
        </div>
    </div>
    <!--<div id="right">
        zxc
    </div>-->
    <div id="aboveCenter">
        <div id="AskForm" style="border:0">
            <p>
                <a href="@this.Url.Action("index", new { login = Model.Login })">
                    <h4>@Model.Login</h4>
                </a>
            </p>
            <h4>@Model.Status</h4>
        </div>
        <form name="AskAre" asp-action="AskUser" method="post">
            <input type="hidden" name="LoginTo" value="@Model.Login" />
            <div id="AskForm">
                <div id="AskFormTop">
                    <textarea id="AskTextForm" name="Question" placeholder="Напиши свой вопрос" style="height:80px;"></textarea>
                </div>
                <div id="AskFormBottom">
                    <div id="LeftBottom">
                        @Html.CheckBox("IsAnnonymous", false) Анонимно
                    </div>
                    <div id="RightBottom">
                        <input type="submit" value="Спросить" />
                    </div>
                </div>
            </div>
        </form>
    </div>




    <div id="Center">
        <div class="item_Text">
            Ответы пользователя:@Model.Count
        </div>

        @{
            foreach (var question in @Model.Questions)
            {
                <div class="item">
                    <input type="hidden" name="QuestionId" value="@question.IdQA" />
                    <div class="item_avatar">
                        @{
                            if (question.FromLogin != "Anonymous")
                            {
                                <img src="@question.ImagePath" width="60" height="60" />
                            }
                            else
                            {
                                <img src="~/static/images/MainAskPicture.jpg" width="60" height="60" />
                            }
                        }
                    </div>
                    <div class="item_content">
                        <div class="item_from">
                            ОТ
                            <a href="@this.Url.Action("index", new { login = question.FromLogin })">
                                @question.FromLogin
                            </a>
                        </div>
                        <div class="item_question">
                            @question.Question
                        </div>
                        <div class="item_answear">
                            @question.Answear
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>