﻿@model Sprashivai.Models.ViewModels.AccountPageViewModel
@{
    ViewData["Title"] = "UserPage";
}

<h2>UserPage</h2>

<div id="Top">
    <button id="AskButton" style="margin-left:150px; position:relative; padding:5px;" name="Main">Главная</button>
    <button id="AskButton" style="margin-left:210px; position:relative;" formaction="@this.Url.Action("Logout")" name="Exit">Выход</button>
</div>
<div id="MainPart">
    <div id="left">
        <img src="@Model.ImagePath" width="300" height="300" />

        <form asp-action="Settings" method="post">
            <input style="padding-top:10px;" type="hidden" name="operation" value="settings" />
            <input type="submit" name="" value="Настройки" />
        </form>
        <form action="/" method="post">
            <input type="hidden" name="operation" value="search" />
            <button id="SettingsButton">Поиск</button>
        </form>
        <div id="AskTextForm">
            @{
                @Model.UserInfo.Age <br />
                @Model.UserInfo.FirstName <br />
                @Model.UserInfo.SecondName <br />
            }
        </div>
    </div>
    <div id="aboveCenter">
        <div id="AskForm" style="border:0; padding-bottom:5%;">
            <p>
                <a href="@this.Url.Action("index", new { login = Model.Login })">
                    <h4>@Model.Login</h4>
                </a>

            </p>
            <div class="dropdown">
                <div class="dropdown-content">
                    <form asp-action="ChangeStatus" method="post">
                        <meta charset="utf-8" />
                        <textarea style="padding:2px;font-size:15px;" type="text" height="50" name="status" value="">@Model.Status</textarea>
                        <input type="hidden" name="status" value="change" />
                        <input type="submit" id="AskButton" value="Изменить" />
                    </form>
                </div>
                <h4>@Model.Status</h4>

            </div>

        </div>


    </div>
    <div id="Center">
        <div class="item_Text">
            Вопросы пользователю:@Model.Count
        </div>

        @{
            foreach (var question in @Model.Questions)
            {
                <form asp-action="AddAnswear" method="post" name="Link">
                    <div class="item">
                        <input type="hidden" name="QuestionId" value="@question.IdQA" />
                        <div class="item_avatar">
                            @{
                                if (question.FromLogin != "Anonymous")
                                {
                                    <img src="@question.ImagePath" width="60" height="60" />
                                }
                                else
                                {
                                    <img src="~/static/images/MainAskPicture.jpg" width="60" height="60" />
                                }
                            }
                        </div>
                        <div class="item_content">
                            <div class="item_from">
                                ОТ
                                <a href="@Url.Action("Index", new { login = question.FromLogin })">
                                    @question.FromLogin
                                </a>
                            </div>

                            <div class="item_question">
                                @question.Question
                            </div>

                            <div class="item_answear">
                                @if (question.Answear == null)
                                {
                                    <div>
                                        <textarea class="item_addAnswear" type="text" name="answear" placeholder="Ответить"></textarea>
                                    </div>
                                    <div id="AskFormBottom">
                                        <input type="submit" value="Ответить" id="AskButton" />
                                    </div>

                                }
                                @question.Answear
                            </div>
                        </div>
                    </div>
                </form>
            }
        }
    </div>
</div>