<div class="container">
  <h3>
    Registration Page
  </h3>
  <form #registerForm="ngForm" (ngSubmit)="register()">
    <div class="form-group">
      <label for="username">User Name</label>
      <input type="text" class="form-control" [(ngModel)]="userModel.username" name="username" placeholder="Enter username"
        required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" [(ngModel)]="userModel.password" placeholder="Password"
        required>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Submit</button>
  </form>
</div>

<pre>
  {{userModel | json}}
</pre>