<div *ngIf="recipe">
  <img src="{{recipe.image}}">
  <h1>{{recipe.name}}</h1>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      Manage Recipe
    </button>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" (click)="addToShoppingList(recipe.ingredients)">To Shopping List</a>
      <a class="dropdown-item" [routerLink]="['edit']">Edit Recipe</a>
      <a class="dropdown-item" (click)="delete(recipe.id)">Delete Recipe</a>
    </div>
  </div>

  <ul class="list-group" *ngFor="let ingredient of recipe.ingredients">
    <li class="list-group-item">
      {{ingredient.name}} - {{ingredient.amount}}
    </li>
  </ul>

  <h5>{{recipe.description}}</h5>
</div>