<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" [routerLink]='["/"]'>Recipe Book</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
        <a [routerLink]='["/recipes"]' class="nav-link">Recipes <span class="sr-only">(current)</span></a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
        <a [routerLink]='["/shopping-list"]' class="nav-link">Shopping List</a>
      </li>
    </ul>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item" *ngIf="!isLoggedOn()">
            <a [routerLink]='["/signin"]' class="nav-link">Login</a>
          </li>
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item" *ngIf="!isLoggedOn()">
            <a [routerLink]='["/signup"]' class="nav-link">Register</a>
          </li>
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item" *ngIf="isLoggedOn()">
            <a (click)="logOut()" [routerLink]='[""]' class="nav-link">Logout</a>
          </li>
    </ul>
  </div>
</nav>