﻿#MainPart {
    margin-left: 150px;
    margin-right: 150px;
}


#Top {
    border:10px solid #000000;
    background-color:#000000;
    color:#ffffff;
    /*border-top: 25px solid #d82323;*/
}

#right, #left{
    padding:10px;
    margin-top:105px;
    border:10px;
}

#left {
    background: url(../images/10611054.jpg) padding-box;
    border: 3px solid #000000;
    height: 300px;
    width: 300px;
    float: left;
    margin-right: 10px;
    margin-left : 5px;
}

#right {
    height: 200px;
    width: 100px;
    float: right;
    margin-left: 10px;
}

#aboveCenter, #Center {
    border: 2px solid #000000;
    padding: 10px;
    overflow: hidden;
}



#aboveCenter {
    margin-bottom: 20px;
    margin-top: 50px;
}

#Center {
    margin-top:10px;
}

body {
    /*background: url(../images/MainAskPicture.jpg) no-repeat;*/
    position:relative;
    background-color: white;
    margin: 0px;
}