<div style="margin-top: 20px;">
    <form [formGroup]="recipeForm" (ngSubmit)=save()>
      <button type="submit" [disabled]="!recipeForm.valid" class="btn btn-success">Save</button>
      <button style="margin-left: 5px;" type="button" (click)="cancel()" class="btn btn-danger">Cancel</button>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" formControlName="name" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="image">Image Url</label>
        <input type="text" formControlName="image" class="form-control" pattern="(http[s]?:\/\/)?([^\/\s]+\/)(.*)"
          required>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea formControlName="description" class="form-control" required
          maxlength="100"></textarea>
      </div>
      <h4>Ingredients: </h4>
      <fieldset>
        <div formArrayName="ingredients">
          <div *ngFor="let ingredient of ingredients.value; let i=index;">
            <div [formGroupName]="i">
              <div class="row">
                <div class="col-8">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" formControlName="name" class="form-control" required>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="amount">Amount</label>
                    <input type="number" min="1" step="1" formControlName="amount" class="form-control" required>
                  </div>
                </div>
                <div class="col-1">
                  <div class="form-group">
                    <label for="delete">Delete</label>
                      <i class="fa fa-close" style="font-size:40px; color: red;" (click)="deleteIngredient()"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-success" (click)="addIngredient()">
            Add Ingredient
          </button>
        </div>
      </fieldset>
    </form>
  </div>